
<!-- message start -->
<!-- container for the pop-up -->
<div id="image-popup"
     style="display:none; position:fixed; top:0; left:0; width:100%; height:100%;                                    
         background:rgba(0,0,0,0.8); justify-content:center; align-items:center; z-index:1000;">
    <img id="popup-img" src="" alt="Full-Size Image" style="max-width:90%; max-height:90%; border:5px solid white;">
</div>

<!-- body -->
<h1> {% block title %} Message Board{% endblock %} </h1>


<!-- Show the uploaded images here -->
<div id='upload-preview'>
  <div id='message-container'>
    <div id='message-table'>
    </div>
  </div>
</div>

<!-- If we are in lab5 or lab7, bring in the image interaction -->
{% if lab_number == "5" or lab_number == "7"%}
<div id='lab5'></div>
<script src="static/imageboard.js"></script>
{% endif %}


<!-- bring in the messageboard -->


<script src="static/messageboard.js"> </script>
<script src="static/startup.js"></script>

{% endblock %}
<!-- message end -->